@charset "utf-8";

html , body {
    height: 100%;
    margin: auto;
    padding: 0;
}

.main {
    display: flex;
}

#map {
    margin: 30px;
    height: 90vh;
    width: 75%;
}

#menu {
    margin: 30px;
    height: 90vh;
    width: 25%;
}

.droppable_area {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    background-color: #ddd;
}

.draggable_image {
    width: 150px;
    height: 150px;
}